/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Product preview card */

:root {
    --bg-primary-color: hsl(158, 36%, 37%);
    --bg-color: hsl(30, 38%, 92%);
    --bg-card-color: hsl(0, 0%, 100%);
    --title-color: hsl(212, 21%, 14%);
    --content-color: hsl(228, 12%, 48%);
}

body {
    background-color: var(--bg-color);

    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 14px;
    font-weight: 500;
}

main,
footer {
    max-width: 340px;
}

article {
    background-color: var(--bg-card-color);
    color: var(--content-color);
    width: 100%;
    border-radius: 10px;
}

.image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    object-position: 0% 50%;
}

h2 {
    padding: 20px 25px 5px 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1,
p,
.price {
    padding: 10px 25px;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--title-color);
}

p {
    line-height: 20px;
}

.price {
    display: flex;
    align-items: center;
}

.price span:nth-child(1) {
    font-family: 'Fraunces', serif;
    color: var(--bg-primary-color);
    font-size: 30px;
}

.price span:nth-child(2) {
    padding-left: 20px;
    text-decoration: line-through;
}

.button {
    padding: 5px 25px 20px 25px;
}

.button img {
    padding-right: 5px;
}

.button button {
    background-color: var(--bg-primary-color);
    border-radius: 8px;
    border-style: none;
    width: 100%;
    height: 40px;
    color: var(--bg-card-color);
    cursor: pointer;

    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.button button:hover {
    background-color: hsl(159, 34%, 11%);
    transition: 0.3s;
}


footer {
    margin-top: 1em;
    text-align: center;
}

@media (min-width: 992px) {
    article {
        display: flex;
    }

    main,
    footer {
        max-width: 600px;
    }

    .conteiner {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .image{
        width: 50%;
    }

    .image img {
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

}